body{
    margin: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    height: 900px;
    background-image:url(jn.jpg);
    background-size:cover;
    background-attachment: fixed;
}
nav>.title{
    text-align: center; font-size: 2em;
    font-family: 'Comfortaa', cursive;
    padding-top: 60px; padding-bottom: 50px;
}
/* nav>.menu */
nav>.menu{
    display: flex; justify-content: center;
    margin-bottom: 250px;
}
nav>.menu>.item{
    font-size: 0.8em; margin: 0px 40px;
    color: #40575a;
	text-shadow: 0px 0px 5px #bcdbd9;
	transition: transform 0.5s;cursor: pointer;
}
nav>.menu>.item:hover{
	transform: scale(1.05,1.05);
	color: #26b7ca;
}

/* nav>.mobile-menu */
nav>.mobile-menu{
	position: fixed;left: 0px;top: 0px;
	width: 100%;height: 100%;
	background-color:rgba(255,255,255,0.9);
	text-align: center;
	display: none;
}
nav>.mobile-menu>.item{
	font-size: 0.8em;color: #222222;
	padding-top: 30px;cursor: pointer;
}
nav>.mobile-menu>.close{
	position: absolute;top: 10px;right: 10px;
	cursor: pointer;
}
/* nav>.mobile-menu-trigger */
nav>.mobile-menu-trigger{
	display:none;justify-content:center;
	margin-bottom:100px; cursor: pointer;
}
nav>.mobile-menu-trigger>.lines{
	width:40px;
}
nav>.mobile-menu-trigger>.lines>.line{
	height:4px; border-radius: 2px;
	background-color: #4c5c58;
	margin:8px 0px;
}
nav>.memo{
    text-align: center; font-size: 2em;
    line-height: 1.5em;
    letter-spacing: 3px;
}
/* footer */
footer{
	background-color:#000000;
	color:#ffffff;
	text-align:center;
	font-size:0.8em;
	padding:50px 0px;
}
@media (max-width:800px){
	nav{
		height:600px;
		background-position:60% center;
	}
	nav>.title{
		padding:50px 0px;margin-bottom:0px;
	}
	nav>.menu{
		display:none;
	}
	nav>.mobile-menu-trigger{
		display:flex;
	}
	nav>.memo{
		text-align:center;
		font-size:2em;letter-spacing:3px;
		line-height:1.25em;
	}
}